.form-container {
  width: 94vw;
  max-width: 900px;
  /*margin: 0 auto;*/
  /*padding-right: 2vw;*/
}

form ul {
  max-width: 700px;
  margin: 0 auto;
}

form ul li {
  margin: .3em;
  border: none;
  display: flex;
  flex-direction: column;
}

form ul li:first-of-type {
  margin-bottom: 0;
}

form ul li:last-of-type {
  margin-top: 0;
}

form ul li label {
  visibility: hidden;
  height: 0px;
  max-width: 220px;
}

form ul li legend,
form ul li input,
form ul li textarea {
  font-size: 1.25em;
  line-height: 1.5;
  padding: .5em;
  margin-bottom: .4em;
  border: none;
}

form ul li input,
form ul li textarea {
  background-color: rgba(170, 170, 170, 0.2);
  border-radius: 0;
  outline: none;
  font-family: inherit;
}

form ul li textarea {
  resize: none;
}

form ul li .button {
  text-align: left;
  cursor: pointer;
  width: 30%;
  background-color: inherit;
}

@media screen and (max-width: 750px) {
  form ul li legend,
  form ul li input,
  form ul li textarea {
    font-size: 1em;
    line-height: 1.7;
  }
}
