html {
  font-size: 16px;
  line-height: 1.1;
  font-family: Arial, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html, body {
  width: 100%;
  height: 100%;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

ul {
  list-style: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100%;
  min-height: 100%;
  width: 92vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

nav, footer, .landing {
  margin-left: 2vw;
}

/* HEADER */

nav {
  width: 100%;
  display: flex;
}

nav h2 {
  font-size: 2.5vh;
  height: 6vh;
  padding: 1rem 0 .75rem;
}

/* FOOTER */

footer {
  width: 100%;
  margin-top: auto;
  display: flex;
  align-items: center;
}

footer p {
  font-size: 2vh;
  height: 5vh;
  padding: .5rem 0;
}

/* container */

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* LANDING */

.landing {
  /*z-index: 1;*/
  flex: 1;
}

.landing h1 {
  font-size: 7vw;
  line-height: 1.7;
}

.f-b, .u-l {
  cursor: pointer;
  display: inline-block;
}

.u-l {
  border-bottom: solid .05em; /* fancy underline */
  line-height: .8;
}

.p-br {
  display: inline-block; /* show portrait-breaks */
}

.l-br {
  display: none; /* hide landscape-breaks */
}

/* GRID */

.grid {
  z-index: 1;
  margin-top: -130vw;
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
}

.card {
  flex: 1 0 33.3333%;
  padding: 1vw;
}

.card-content {
  width: 100%;
  height: 100%;
  background-clip: content-box;
}

.card-image {
  width: 100%;
  height: 100%;
  border-style: none;
  vertical-align: middle;
  opacity: .05;
}

/* card colors */

.orchid {
  background-color: rgb(210, 157, 198);
}

.silver {
  background-color: rgb(170, 170, 170);
}

.blue {
  background-color: rgb(145,174,196);
}

.teal {
  background-color: rgb(90, 171, 183);
}

.gold {
  background-color: rgb(154, 147, 120);
  border-radius: 50%;
}

.lemon {
  background-color: rgb(209, 205, 110);
}

.rose {
  background-color: rgb(182, 126, 119);
}

@media screen and (orientation: landscape) {
  .wrapper {
    width: 80vw;
    margin: 0 4vw;
  }
  .container {
    height: 80vh;
  }
  .grid {
    margin-top: -82vh;
  }
  nav, footer, .landing {
    margin-left: 1vw;
  }
  .landing h1 {
    font-size: 3.9vw;
    line-height: 1.4;
  }
  .u-l {
    border-bottom: solid .06em;
    line-height: .9;
  }
  .l-br {
    display: inline-block;
  }
  .p-br {
    display: none;
  }
  .grid {
    margin-right: 5vw;
  }
  .card {
    flex: 1 0 20%;
    padding: .2rem .2rem .6rem;
  }
}

@media screen and (orientation: landscape) and (min-width: 750px) {
  nav h2 {
    font-size: 1.7rem;
    padding: 1.5rem 0;
  }
  footer p {
    font-size: 1rem;
  }
  .landing h1 {
    font-size: 4.2vw;
    line-height: 1.3;
  }
  .card {
    padding: .75rem .5rem;
  }
}
