#slideshow {
  width: 100%;
  margin-left: -2vw;
  flex: 1;
  display: flex;
  align-items: center;
}

#slideshow .row {
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  display: flex;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#slideshow .card {
  padding: 1em;
}

#slideshow div.card:first-child {
  padding-left: 2em;
}

#slideshow .card-content {

}

#slideshow .card-image {

}

#slideshow .card p {
  display: block;
  font-size: .75em;
  line-height: 1.5;
  padding-left: .2em;
}

#slideshow p:first-of-type {
  margin-top: 1em;
}

@media screen and (min-width: 800px) {
  #slideshow {
    margin-left: -4vw;
  }
  #slideshow .card {
    padding: 2em;
  }
  #slideshow .card-image {
    width: 381px;
    height: auto;
  }
  #slideshow .card p {
    font-size: 1em;
    line-height: 1.4;
  }
}
