.slide-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#slideshow {
  width: 100%;
  margin-left: -4vw;
  flex: 1;
  display: flex;
  align-items: center;
}

#slideshow .row {
  flex: 1;
  display: flex;
  overflow-x: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

#slideshow .card {
  flex: 1;
  padding: 1em;
}

#slideshow .card-content {

}

#slideshow .card-image {

}

#slideshow .card p {
  font-size: .75em;
  line-height: 1.5;
  padding-left: .2em;
}

#slideshow p:first-of-type {
  margin-top: 1em;
}

@media screen and (min-width: 800px) {
  #slideshow .card-image {
    width: 381px;
    height: auto;
  }
  #slideshow .card p {
    font-size: 1em;
    line-height: 1.4;
  }
}
