<nav>
  <h2 class="<%- current.source == 'index' ? 'active' : '' %>">
    <a href="/">Fluora</a>
  </h2>
  <h2 class="<%- current.source == 'work' ? 'active' : '' %>">
    <a href="/work">Studio</a>
  </h2>
</nav>
