<form action="https://formspree.io/parker@fluorastudio.com" method="POST">
  <p>
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
  </p>
  <p>
    <label for="email">Email:</label>
    <input type="email" name="email" id="email">
  </p>
  <p>
    <label for="message">Message:</label>
    <textarea name="message" id="message"></textarea>
  </p>
  <input type="submit" value="Send">
</form>
