<div class="form-container">
  <form action="https://formspree.io/parker@fluorastudio.com" method="POST">

    <% if(environment == "production") { %>
    <input type="hidden" name="_next" value="http://www.treymoody.com/thanks.html" />
    <% } else { %>
    <input type="hidden" name="_next" value="http://localhost:9000/thanks.html" />
    <% } %>

    <ul>
      <li>
        <legend>Contact:</legend>
      </li>
      <li>
        <label for="name"><span>Name:</span></label>
        <input type="text" name="name" placeholder="your name" id="name" required>
      </li>
      <li>
        <label for="email"><span>Email:</span></label>
        <input type="email" name="_replyto" placeholder="your email address" id="email" required>
      </li>
      <li>
        <label for="message"><span>Message:</span></label>
        <textarea name="message" rows="5" placeholder="message" id="message" required></textarea>
      </li>
      <li>
        <input class="button" type="submit" value="Send">
      </li>
    </ul>


  </form>
</div>
