<div class="container">
  <% if(current.source == 'index') { %>
    <%- partial('landing') %>
    <%- partial('grid') %>
  <% } else { %>
    <%- partial('landing') %>
    <%- partial('grid') %>
  <% } %>
</div>
