<h1>
  Fluora Studio is a design<br class="p-br"> service<br class="l-br"> specializing in<br class="p-br">
  <span class="print-design f-b"><span class="u-l">print design</span>,</span>
  <span class="illustration f-b"><span class="u-l">illustration</span>,</span><br>
  <span class="identity-development f-b"><span class="u-l">identity development</span>,</span><br class="p-br">
  <!-- portrait-break (p-br) button show in portrait view -->
  <!-- landscape-break (l-br) button show in landscape view -->
  <span class="exhibition-design f-b p-br"><span class="u-l">exhibition design</span>,</span>
  <span class="exhibition-design">
    <span class="exhibition-design f-b l-br"><span class="u-l">exhibition</span></span><br class="l-br">
    <span class="exhibition-design f-b l-br"><span class="u-l">design</span>,</span>
  </span>
  <span class="special-projects">
    <span class="special-projects f-b p-br"><span class="u-l">special</span></span><br class="p-br">
    <span class="special-projects f-b p-br"> <span class="u-l">projects</span>,</span>
  </span>
  <span class="special-projects f-b l-br"><span class="u-l">special projects</span>,</span>
  <span class="animation f-b"><span class="u-l">animation</span>,</span><br class="l-br"> and<br class="p-br"> sometimes
  <span class="art-commissions f-b"><span class="u-l">art commissions</span>.</span><br>Click <span id="work" class="u-l">here</span> to view some<br class="p-br"> samples of<br class="l-br"> our work.<br class="p-br"> Please <span id="contact" class="u-l contact">contact us</span> if you'd<br> like to learn more.</span>
</h1>
