<section class="grid <%- current.source == 'work' ? 'active' : 'hidden'%>">

<% Object.entries(public.projects._data).forEach(function ([cardId, cardData]) { %>
    <div class="<%= cardData.category %> card">
      <div class="card-content">
        <h1><a href="/work/<%= cardId %>"><%= cardData.title %></a></h1>
      </div>
    </div>
<% }) %>

</section>
