#slideshow {
  width: 110vw;
  margin-left: -2vw;
  flex: 1;
  align-self: flex-start;
  display: flex;
  align-items: center;
}

#slideshow .row {
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  display: flex;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
  background: transparent;
}

#slideshow .card {
  padding: 1em;
}

#slideshow div.card:first-child {
  padding-left: 9vw;
}

#slideshow div.card:last-child {
  padding-right: 10vw;
}

#slideshow .card-image {
  width: 80vw;
  height: auto;
}

#slideshow .card p {
  display: block;
  font-size: .75em;
  line-height: 1.5;
  padding-left: .2em;
}

#slideshow p:first-of-type {
  margin-top: .5em;
}

@media screen and (orientation: landscape) {
  #slideshow .card-image {
    width: auto;
    height: 50vh;
  }
}

@media screen and (orientation: landscape) and (min-width: 800px) {
  #slideshow {
    margin-left: -10vw;
  }
  #slideshow .card {
    padding: 2em;
  }
  #slideshow div.card:first-child {
    padding-left: 10vw;
  }
  #slideshow div.card:last-child {
    padding-right: 10vw;
  }
  #slideshow .card p {
    font-size: 1em;
    line-height: 1.4;
  }
}
