#slideshow {
  animation: fadein .7s ease;
  width: 110vw;
  margin-left: -2vw;
  flex: 1;
  align-self: flex-start;
  display: flex;
  align-items: center;
}

#slideshow .row {
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  display: flex;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
  background: transparent;
}

#slideshow .card {
  padding: 1em;
}

#slideshow div.card:first-child {
  padding-left: 9vw;
}

#slideshow div.card:last-child {
  padding-right: 10vw;
}

#slideshow .card-image {
  width: 80vw;
  height: auto;
}

#slideshow .card p,
#slideshow .card a {
  display: block;
  font-size: 2.1vh;
  line-height: 1.5;
  padding-left: .6vw;
  margin-top: .7vh;
}

@media screen and (orientation: portrait) and (min-width: 500px) {
  #slideshow .card-image {
    width: 69vw;
  }
  #slideshow .card p,
  #slideshow .card a {
    font-size: 1.9vh;
  }
}

@media screen and (orientation: landscape) {
  #slideshow .card-image {
    width: auto;
    height: 54vh;
  }
  #slideshow .card p,
  #slideshow .card a {
    font-size: 2.4vh;
  }
}

@media screen and (orientation: landscape) and (min-width: 750px) {
  #slideshow {
    margin-left: -10vw;
  }
  #slideshow .card {
    padding: 2em;
  }
  #slideshow div.card:first-child {
    padding-left: 13vw;
  }
  #slideshow div.card:last-child {
    padding-right: 10vw;
  }
  #slideshow .card p,
  #slideshow .card a {
    font-size: 2.2vh;
    line-height: 1.4;
  }
}
