<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= owner %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/slideshow.css">
    <link rel="stylesheet" type="text/css" href="/css/contact.css">
  </head>
  <body>
    <div id="page">

      <%- partial('_nav') %>

      <div id="main">
        <%- yield %>
      </div>

      <%- partial('_footer') %>

    </div>
    <%# <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>%>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <!-- <script src="/js/Dynamic.js"></script> -->
    <script src="/js/landing.js"></script>
    <script src="/js/grid.js"></script>
    <script src="/js/cards.js"></script>
    <%# <script src="/js/here.js"></script>%>
  </body>
</html>
