<section id="landing" class="hidden art-commissions">
  <%- partial('_includes/_landing') %>
</section>

<section id="grid" class="hidden art-commissions">
  <%- partial('_includes/_cards') %>
</section>
