<section class="landing active">
  <%- partial('_landing') %>
</section>

<section class="grid hidden">
  <%- partial('_cards') %>
</section>


<%#
%>
<%# <div id="slideshow" class=" %>
  <%#- current.source == 'projects' ? '' : 'display-none' %>
  <%# "> %>
  <%#- partial('_slides') %>
<%# </div> %>
