
  <section id="landing" class=<%= current.path[0] === 'index' ? 'active' : 'hidden' %>>
    <%- partial('/_includes/_landing') %>
  </section>

  <section id="grid" class=<%= current.path[0] === 'work' ? 'active' : 'hidden' %>>
    <%- partial('_includes/_cards') %>
  </section>
