<section id="landing" class="hidden special-projects">
  <%- partial('_includes/_landing') %>
</section>

<section id="grid" class="hidden special-projects">
  <%- partial('_includes/_cards') %>
</section>
