<!--
For "breakable links", i.e., 2-word links that break across lines depending on whether the screen is portrait or landscape orientation:
  "br .p-br": line break is activated in portrait view
  "br .l-br": line break is activated in landscape view
  "a .p-br":  link is visible in portrait view
  "a .l-br":  link is hidden in portrait view
"u-l": Fancy underline is applied to links and controls spacing between underline and text
-->
<h1>
  <span class="rollover">
    Fluora Studio is a design<br class="p-br"> service<br class="l-br"> specializing in<br class="p-br">
    <a href="print-design" class="print-design u-l">print design</a>,
    <a href="illustration" class="illustration u-l">illustration</a>,<br>
    <a href="identity-development" class="identity-development u-l">identity development</a>,
    <br class="p-br">
    <%# unbroken link visible in portrait view, hidden in landscape %>
    <a href="exhibition-design" class="exhibition-design u-l p-br">exhibition design</a><span class="p-br">,</span>
    <%# broken link visible in landscape view, hidden in portrait %>
    <a href="exhibition-design" class="exhibition-design u-l l-br">exhibition</a><br class="l-br">
    <a href="exhibition-design" class="exhibition-design u-l l-br">design</a><span class="l-br">,</span>
    <%# unbroken link visible in landscape view, hidden in portrait %>
    <a href="special-projects" class="special-projects u-l l-br">special projects</a><span class="l-br">,</span>
    <%# broken link visible in portrait view, hidden in landscape %>
    <a href="special-projects" class="special-projects p-br"><span class="u-l">special</span></a><br class="p-br">
    <a href="special-projects" class="special-projects p-br"><span class="u-l">projects</span>,</a>
    <a href="animation" class="animation u-l">animation</a>,<br class="l-br"> and<br class="p-br"> sometimes
    <a href="art-commissions" class="art-commissions u-l">art commissions</a>.
  </span><br>
  Click <a href="work" id="work" class="u-l">here</a> to view some<br class="p-br"> samples of<br class="l-br"> our work.<br class="p-br"> Please <a href="contact" class="contact u-l">contact us</a> if you’d<br> like to learn more.</span>
</h1>
