RewriteEngine On
RewriteCond %{HTTP:Origin} !^$|http(s)?://(www\.)?par-ker.bitbucket\.io$ [NC]
RewriteRule \.(woff|eot)$ - [NC,L]
RewriteCond %{HTTP_REFERER} !.
RewriteRule \.(woff|eot)$ - [F,NC,L]
Options -Indexes
