@font-face {
  font-family: 'Baton Turbo Regular';
  src: url('../fonts/BatonTurboWeb-Regular.eot') format('eot'),
    url('../fonts/BatonTurboWeb-Regular.woff') format('woff');
}

html {
  font-size: 16px;
  line-height: 1.1;
  font-family: 'Baton Turbo Regular', Arial, Verdana, sans-serif;
  /* -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; */
}

html, body {
  width: 100%;
  height: 100%;
}

section, div, nav, footer, form, ul {
  display: block;
}

p, li, h1, h2, h3, h4 {
  display: inline-block;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

ul, li {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
}

#page {
  width: 100vw;
  min-height: 100%;
  padding-left: 2vw;
  display: flex;
  flex-direction: column;
}

nav, footer, #landing {
  margin-left: 7vw;
}

/*
HEADER & FOOTER
*/

nav, footer {
  width: 100%;
  height: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav h2 {
  font-size: 5vw;
}

footer {
  margin-top: auto;
}

footer p {
  font-size: 1.5vh;
}

/*
MAIN
*/

main {
  width: 100%;
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/*
LANDING
*/

#landing,
#landing.hidden {
  width: 100%;
  position: absolute;
  margin-top: 3vh;
}

#landing h1 {
  font-size: 6.4vw;
  line-height: 1.7;
}

.p-br {
  display: inline; /* visible in portrait view */
}

.l-br {
  display: none; /* hidden in landscape view */
}

.u-l {
  display: inline-block;
  border-bottom: solid .05em; /* fancy underline */
  line-height: .8;
}

/*
GRID
*/

#grid {
  width: 88%;
  margin-left: -2vw;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2vw;
}

#grid .card {
  border: none;
  display: block;
}

#grid .card-image {
  width: 100%;
  height: auto;
  min-height: 50px;
  vertical-align: middle;
  display: block;
}

#grid.hidden .card-image {
  opacity: .05;
}

/* card colors */

#grid .orchid {
  background-color: rgb(210, 157, 198);
}

#grid .silver {
  background-color: rgb(170, 170, 170);
}

#grid .blue {
  background-color: rgb(145,174,196);
}

#grid .teal {
  background-color: rgb(90, 171, 183);
}

#grid .gold {
  background-color: rgb(154, 147, 120);
  border-radius: 50%;
}

#grid .lemon {
  background-color: rgb(209, 205, 110);
}

#grid .rose {
  background-color: rgb(182, 126, 119);
}

#grid .card .card-content.all-gray {
  background-color: rgba(170, 170, 170, 0.2);
}

/**
* jQuery play for landing-grid hover-toggle
**/

/* colorized links */

.print-design.current {
  color: rgb(210, 157, 198);
}

.illustration.current {
  color: rgb(170, 170, 170);
}

.identity-development.current {
  color: rgb(145,174,196);
}

.exhibition-design.current {
  color: rgb(90, 171, 183);
}

.special-projects.current {
  color: rgb(154, 147, 120);
}

.animation.current {
  color: rgb(209, 205, 110);
}

.art-commissions.current {
  color: rgb(182, 126, 119);
}

.hidden {
  visibility: hidden;
}

.active,
.current {
  visibility: visible;
}

.current {
  cursor: pointer;
  position: relative;
}

.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}

#landing.hidden h1 span.current,
#landing.hidden h1 span.active {
  pointer-events: none;
}

#landing.hidden .current {
  color: inherit;
}

#grid.active .card-content.faded {
  opacity: .1;
}

#grid.active .card.current .card-image {
  opacity: .05;
}

#grid.active .card.current .card-content {
  opacity: .9;
}

/* card order */

@media screen and (orientation: portrait) {
  #grid > a:nth-child(1) {
    order: 1;
  }
  #grid > a:nth-child(2) {
    order: 6;
  }
  #grid > a:nth-child(3) {
    order: 9;
  }
  #grid > a:nth-child(4) {
    order: 8;
  }
  #grid > a:nth-child(5) {
    order: 3;
  }
  #grid > a:nth-child(6) {
    order: 4;
  }
  #grid > a:nth-child(7) {
    order: 5;
  }
  #grid > a:nth-child(8) {
    order: 11;
  }
  #grid > a:nth-child(9) {
    order: 2;
  }
  #grid > a:nth-child(10) {
    order: 7;
  }
  #grid > a:nth-child(11) {
    order: 13;
  }
  #grid > a:nth-child(12) {
    order: 10;
  }
  #grid > a:nth-child(13) {
    order: 12;
  }
  #grid > a:nth-child(14) {
    order: 14;
  }
  #grid > a:nth-child(15) {
    order: 15;
  }
}

@media screen and (orientation: portrait) and (min-width: 500px) {
  nav {
    height: 10vh;
  }
  nav h2 {
    font-size: 4vw;
  }
  #landing h1 {
    font-size: 5vw;
  }
  #grid {
    width: 65%;
    margin-left: 5vw;
    align-self: flex-start;
  }
  footer p {
    font-size: 1.6vh;
  }
}

@media screen and (orientation: landscape) {
  #page {
    width: 100%;
    padding-left: 4vw;
    margin: 0;
  }
  #grid {
    width: 75vw;
    margin-left: 0;
    align-self: flex-start;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1vw;
  }
  nav, footer, #landing {
    margin-left: 1vw;
  }
  nav, footer {
    height: 10vh;
  }
  nav h2 {
    font-size: 2.5vw;
  }
  footer p {
    /* font-size: 2vh; */
  }
  #landing {
    margin-top: 2vh;
  }
  #landing h1 {
    font-size: 3.9vw;
    line-height: 1.4;
  }
  .u-l {
    border-bottom: solid .06em;
    line-height: .8;
  }
  .l-br {
    display: inline-block;
  }
  .p-br {
    display: none;
  }
  #grid {
    margin-right: 5vw;
  }
}

@media screen and (orientation: landscape) and (min-width: 750px) {
  nav h2 {
    font-size: 4vh;
  }
  footer p {
    font-size: 1.5vh;
  }
  #landing h1 {
    font-size: 4.1vw;
    line-height: 1.3;
  }
}

/**
* Slideshow
**/

#slideshow {
  animation: fadein .7s ease;
  width: 110vw;
  margin-left: -2vw;
  flex: 1;
  align-self: flex-start;
  display: flex;
  align-items: center;
}

#slideshow .row {
  overflow-x: scroll;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  display: flex;
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
  background: transparent;
}

#slideshow .card {
  padding: 1em;
  white-space: nowrap;
}

#slideshow div.card:first-child {
  padding-left: 9vw;
}

#slideshow div.card:last-child {
  padding-right: 10vw;
}

#slideshow .card-image {
  width: 80vw;
  height: auto;
}

#slideshow .card p,
#slideshow .card a {
  display: block;
  font-size: 1.9vh;
  line-height: 1.5;
  padding-left: .6vw;
  margin-top: .7vh;
}

@media screen and (orientation: portrait) and (min-width: 500px) {
  #slideshow .card-image {
    width: 69vw;
  }
  #slideshow .card p,
  #slideshow .card a {
    font-size: 1.9vh;
  }
}

@media screen and (orientation: landscape) {
  #slideshow {
    margin-left: -10vw;
  }
  #slideshow .card-image {
    width: auto;
    height: 54vh;
  }
  #slideshow .card p,
  #slideshow .card a {
    font-size: 2.4vh;
  }
}

@media screen and (orientation: landscape) and (min-width: 750px) {
  #slideshow .card {
    padding: 2em;
  }
  #slideshow div.card:first-child {
    padding-left: 13vw;
  }
  #slideshow div.card:last-child {
    padding-right: 10vw;
  }
  #slideshow .card p,
  #slideshow .card a {
    font-size: 2vh;
    line-height: 1.4;
  }
}

/**
* Contact page
**/

.form-container {
  max-width: 900px;
  padding-right: 2vw;
  margin: 2vh 4vw 0 4vw;
}

form ul {
  max-width: 700px;
  margin: 0 auto;
}

form ul li {
  margin: .3em;
  border: none;
  display: flex;
  flex-direction: column;
}

form ul li:first-of-type {
  margin-bottom: 0;
}

form ul li:last-of-type {
  margin-top: 0;
}

form ul li label {
  visibility: hidden;
  height: 0px;
  max-width: 220px;
}

form ul li legend,
form ul li input,
form ul li textarea {
  font-size: 1.25em;
  line-height: 1.5;
  padding: .5em;
  margin-bottom: .4em;
  border: none;
}

form ul li input,
form ul li textarea {
  background-color: rgba(170, 170, 170, 0.2);
  border-radius: 0;
  outline: none;
  font-family: inherit;
}

form ul li textarea {
  resize: none;
}

form ul li .button {
  text-align: left;
  cursor: pointer;
  width: 30%;
  background-color: inherit;
}

@media screen and (max-width: 750px) {
  form ul li legend,
  form ul li input,
  form ul li textarea {
    font-size: 1em;
    line-height: 1.7;
  }
}
