<% var source = current.source %>

<section class='slideshow'>

  <% if (source == 'index') { %>
    <%- partial('index') %>
  <% } else { %>
    <%- partial('' + source + '') %>
  <% } %>

</section>
