<% if (current.path[0] == 'work' && current.source == 'index') { %>
  <div class="container">
    <section class="grid active">
      <%- partial('../_cards') %>
    </section>
      <%- partial('../_landing') %>
  </div>
<% } %>
